body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 11px;
}

#css-rule-display {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: left;
    min-height: 100px;
    position: fixed;
    top: 10px;
    scroll-behavior: smooth;
    width: calc(100% - 50px)
}

.interactive-elements {
    margin-top: 120px;
}

.interactive-element {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.keyframe-example {
    animation: spin 1s ease infinite forwards;
}

.selector-visualizer ul {
    list-style-type: none;
    padding: 0;
}

.selector-visualizer li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    text-align: center;
    background-color: #eee;
    border-radius: 50%;
}

/*.selector-visualizer li:nth-child(odd) {*/
/*    background-color: blue;*/
/*}*/

/*.selector-visualizer li:nth-child(even) {*/
/*    background-color: purple;*/
/*}*/


.selector-visualizer li:nth-child(2n + 1) {
    background-color: green;
}

/* Add additional nth-child patterns as needed */
