body {
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 11px;
}

#sidebar {
    width: 200px; /* Adjust width as necessary */
    background-color: #f4f4f4;
    height: 100vh; /* Full height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: center;
}

#content {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 20px;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

/* Change background color of links on hover */
.nav li a:hover {
    background-color: #ddd;
    transition: 1s ease-in;
}

#css-rule-display {
    padding: 10px;
    border: 1px dashed grey;
    background-color: #f4f4f4;
    text-align: center;
    max-height: 70px;
    position: fixed;
    top: 0px;
    scroll-behavior: smooth;
    width: calc(100% - 50px);
    cursor: pointer;
}


.interactive-elements {
    margin-top: 120px;
}

.interactive-element {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    top: 50%;
    translate: (-50%, -50%);
    transition: 1s ease-in-out;
    vertical-align: middle;
    line-height: 20px;
    cursor: pointer;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(90deg);
    }
    40%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(270deg);
    }
    80%{
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.keyframe-example {
    animation: spin 2.5s ease infinite forwards;
}

.columns {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;
    padding: 20px;
}
.column:nth-child(1) {
    flex: 1;
    max-width: 110px;
}

.rules .nth-rule {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}

.rules .nth-rule:hover {
    background-color: #e4e4e4;
}

ul.selector-visualizer {
    list-style-type: none;
    padding: 0;
    padding-inline-start: 0;
}

.selector-visualizer li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    text-align: center;
    background-color: #eee;
    border-radius: 50%;
}


/* Add responsiveness - smaller screens */
@media screen and (max-width: 700px) {
    body {
        flex-direction: column;
    }

    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    #content {
        width: 100%;
        margin: 10px;
        padding: 10px;
    }

    .interactive-elements {
        margin-top: 200px;
    }

    #css-rule-display {
        top: 90px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 200px;
        text-align: left;
        margin-left: -60px;
        border: none;
    }
}