/*Flexbox*/

.flex-container {
    display: flex;
    border: 2px solid #000;
    padding: 5px;
    margin-top: 10px;
    background-color: #222; /* Container background */
    color: white; /* Container text color */
    border-radius: 10px; /* Container border radius */
}

.flex-item {
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: #00d2ff; /* Item background */
    color: black; /* Item text color */
    margin: 5px; /* Spacing between items */
    padding: 10px; /* Item padding */
    border-radius: 5px; /* Container border radius */
}

/* Additional styling for controls */
.controls {
    margin-bottom: 10px;
}

.controls select {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
}

/* Additional classes for flex-direction values */
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

/*  alignitems css */

.align-items, .justify-content, .align-content {
    margin-top: 30px;
}

.align-items .flex-container {
    height: 8rem;
    align-items: flex-start;
}


/* Justify-content css */

.justify-content .flex-container {
    height: 8rem;
    justify-content: flex-start;
}

 /* align-content  */
.align-content .flex-container {
  align-content: flex-start;
  flex-wrap: wrap;
  min-height: 8rem;
}

.align-content .flex-item {
  width: 100px;
  margin: 5px;
}

.align-content-warning{
  margin-top: 10px; 
  font-size: .9rem;
}