/* Grid */
.grid-container {
    display: grid;
    grid-gap: 5px;
    border: 2px solid #000;
    padding: 20px;
    margin-top: 10px;
    background-color: #222; /* Container background */
    color: white; /* Container text color */
    border-radius: 10px; /* Container border radius */
}

.grid-item {
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
    background-color: #00d2ff; /* Item background */
    color: black; /* Item text color */
    border-radius: 5px; /* Container border radius */
}

/* Additional styling for controls */
.controls {
    margin-bottom: 10px;
}


.controls select {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    outline: none;
}


.controls select:active {
    border: 1px solid blue;
}
